<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merienda&display=swap"
      rel="stylesheet"
    />
    <link
      href="/mercadoliebre/public/css/styles.css"
      rel="Stylesheet"
      type="text/css"
    />
    <script
      src="https://kit.fontawesome.com/74e3df4a50.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="/mercadoliebre/public/images/logo-mercado-liebre.svg"
      />
      <form id="form">
        <input
          type="search"
          id="query"
          name="q"
          placeholder="Buscar productos, marcas"
        />
        <button class="icon"><i class="fas fa-magnifying-glass"></i></button>
      </form>

      <div class="comprar">
        <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin
        tarjeta de credito
      </div>
      <nav>
        <ul type="none">
          <li><a class="navLink" href="">Ofertas</a></li>
          <li><a class="navLink" href="">Tiendas oficiales</a></li>
          <li><a class="navLink" href="">Vender</a></li>
          <li><a class="navLink" href="">Ayuda</a></li>
        </ul>
        <ul type="none">
          <li>
            <a class="navLink" href="">Crea tu cuenta</a
            ><i class="fa-regular fa-id-card"></i>
          </li>
          <li>
            <a class="navLink" href="">Ingresa</a
            ><i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a class="navLink" href="">Mis compras</a
            ><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
      <div class="button">
        <button class="burger"><i class="fas fa-bars"></i></button>
      </div>
      <img class="banner" src="public/images/img-home-banner.jpg" />
    </header>
    <main>
      <div>
        <p class="titulares"><b>Basado en tu ultima visita</b></p>
        <div>
          <img src="/public/images/img-cafetera-moulinex.jpg" />
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
          <p class="descripciones"><b>Cafetera Moulinex</b></p>
        </div>
        <div>
          <img src="/public/images/img-macbook-pro-2019.jpg" />
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <p><b>MacBook Pro 2019</b></p>
        </div>
        <div>
          <img src="/public/images/img-samsung-galaxy-s10.jpg" />
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <p class="descripciones"><b>Samsung Galaxy S10</b></p>
        </div>
        <div>
          <img src="/public/images/img-tv-samsung-smart.jpg" />
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
          <p class="descripciones"><b>SmartTv Samsung 43"</b></p>
        </div>
      </div>
      <div>
        <p class="titulares"><b>Seccion de Ofertas</b></p>
        <div>
          <img src="/public/images/img-cafetera-moulinex.jpg" />
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
          <p class="descripciones"><b>Cafetera Moulinex</b></p>
        </div>
        <div>
          <img src="/public/images/img-macbook-pro-2019.jpg" />
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
          <p class="descripciones"><b>MacBook Pro 2019</b></p>
        </div>
        <div>
          <img src="/public/images/img-samsung-galaxy-s10.jpg" />
          <p class="precios">$70.500</p>
          <p class="descuentos">10% OFF</p>
          <p class="descripciones"><b>Samsung Galaxy S10</b></p>
        </div>
        <div>
          <img src="/public/images/img-tv-samsung-smart.jpg" />
          <p class="precios">$23.200</p>
          <p class="descuentos">5% OFF</p>
          <p class="descripciones"><b>SmartTv Samsung 43"</b></p>
        </div>
      </div>
    </main>
    <footer>
      <p><b>Pagá con tarjeta o en efectivo</b></p>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
      <p><b>Envío gratis desde $ 2.500</b></p>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
      <p><b>Seguridad, de principio a fin</b></p>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
